#~/.clicol/plugins.cfg
#  Each plugin has to have a section to be loaded
#  Reserved attribute is 'active'. This has to be either 1,on,yes or not existing to be positive.
#
#  Plugins can have any other variable which they can get on load.
[humannumbers]
#Disable this plugin by default
active=no
